/* styles.css */
.tab-wrapper {
    width: 100%;
    padding-top: 20px;
  }
  
  .tab {
    background-color: #fff;
    color: #1f2e3e;
    border: 2px solid transparent; /* Add transparent border */
  }
  
  .tab:hover {
    border-color: #0f3660; /* Change border color on hover */
  }

  .tab.Mui-selected {
    color: #100a44; /* Change text color when selected */
  }
  
  .tab-content {
    background-color: #fff;
    color: #1f2e3e;
    padding: 20px;
  }

  /* forma */

  .app {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .form-container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;

  }
  
  
  .form-column {
    flex: 1;
    margin-right: 20px;
    width: 50%; /* Set each column to take up 50% of the width */
    float: left;
  }
  
  .form-group {
    margin-bottom: 20px;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .form-submit-button {
    display: block;
    margin-top: 20px; /* Add margin between the button and the form fields */
    margin-left: auto;
    text-align: right
  }