@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.max-container {
    max-width: 1300px;
    margin: auto;
}

.auth-container {
    max-width: 900px;
    margin: auto;
}

.nav-gradient {
    background: #0e2332e4;
}

.hero-background {
    background-image: url("./assets/image/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; 
    height: 100vh;
  
}
.auth-background {
    background-image: url("./assets/image/auth_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;    
}
.test {
    color: #b46168;
}

.no-letter-spacing {
    letter-spacing: 0;
}
.white-shadow {
    filter: drop-shadow(5px 5px 10px #ffffff0a);
}
@media (min-width: 200px) {
    .hero-heading {
        font-size: 50px;
        letter-spacing: 30px;
    }
    
    .hero-subheading {
        letter-spacing: 20px;
    }
}
@media (min-width: 400px) {
    .hero-heading {
        font-size: 100px;
        letter-spacing: 50px;
    }
    
    .hero-subheading {
        letter-spacing: 40px;
        
    }
    
}


@media (min-width: 768px) {
    .hero-heading {
        font-size: 270px;
        letter-spacing: 90px;
    }

    .hero-subheading {
        letter-spacing: 60px;
    }
}

