@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.max-container {
    max-width: 1300px;
    margin: auto;
}

.auth-container {
    max-width: 900px;
    margin: auto;
}

.test {
    background-color: #d5cea5;
}

/* .nav-gradient {
    background: rgb(57,57,52);
    background: linear-gradient(90deg, rgba(57,57,52,1) 0%, rgba(159,159,145,1) 100%);
} */

.nav-gradient {
    background: rgb(57,57,52);
    background: linear-gradient(90deg, rgba(57,57,52,1) 0%, rgba(57,57,52,0) 100%);
}

.hero-background {
    background-image: url("./assets/image/hero3.jpg");
    /* Set background size to cover the entire container */
    background-size: cover;

    /* Center the background image */
    background-position: center;

    /* Ensure the background image is not repeated */
    background-repeat: no-repeat;

    /* Set the height and width of the container */
    width: 100%; /* Adjust as needed */
    height: 100vh; /* Adjust as needed */
  
}
.auth-background {
    background-image: url("./assets/image/auth_bg.jpg");
    /* Set background size to cover the entire container */
    background-size: cover;
    /* Center the background image */
    background-position: center;

    /* Ensure the background image is not repeated */
    background-repeat: no-repeat;

    /* Set the height and width of the container */
    width: 100%; /* Adjust as needed */
    height: 100vh; /* Adjust as needed */
    
}


.no-letter-spacing {
    letter-spacing: 0;
}

@media (min-width: 200px) {
    .hero-heading {
        font-size: 50px;
        letter-spacing: 30px;
    }
    
    .hero-subheading {
        letter-spacing: 20px;
    }
}
@media (min-width: 400px) {
    .hero-heading {
        font-size: 100px;
        letter-spacing: 50px;
    }
    
    .hero-subheading {
        letter-spacing: 40px;
        
    }
    
}


@media (min-width: 768px) {
    .hero-heading {
        font-size: 270px;
        letter-spacing: 90px;
    }

    .hero-subheading {
        letter-spacing: 60px;
    }
}

